table {
  border-collapse: collapse;
  margin: 0 auto;
}
thead, tr {
  border: thin solid black;
  margin: 0;
  padding: 5px;
}
tr > td > strong {
    font-weight: 600;
}

td:nth-child(1), th:nth-child(1) {
  padding-left: 1ch;
  max-width: 4ch;
}

td:nth-last-child(2), th:nth-last-child(2) {
  width: 100% !important;
}

td:nth-last-child(1), th:nth-last-child(1) {
  min-width: 6ch;
}

td, th {
   padding-right: 30px;
}

th {
    font-weight: 600;
}
