img {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-height: 50vh;
    max-width: 72ch;
    min-width: 20vw;
}

img.inline {
    display: inline !important;
    margin: 0 0px;
    vertical-align: bottom;
    width: auto !important;
    min-width: 1px !important;
    max-height: 2em !important;
}


details {
  font-size: 80% ! important;
  color: #00d;
  width: 80%;
  margin: 0 auto;
}
details[open] {
  border: thin solid dashed;
}
details > *:not(summary) {
  color: #222;
  padding-left: 2em;
  margin: 3px;
  font-size: 85%;
}
