
html {
    font-family: Montserrat, sans-serif;
    line-height: 25px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 115%;
}

a {
    color: #f33;
    text-decoration: underline;
}

p {
    margin-top: 25px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
}

ol > li {
    margin-top: 25px;
}

#last-update {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 70%;
    color: #777
}

#con {
    position: relative;
    top: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#header {
    height: 50px;
    padding: 30px;
    border-bottom: dashed #999 1px;
}

#header.home {
    height: 200px;
    background: #fff;
    box-shadow: none;
}

#biohazard {
    position: absolute;
    right: 140px;
    top: 50px;
    font-size: 100px;
    text-shadow: #333 0 0 8px;
    font-family: Noto Emoji;
}

#site_logo {
    font-size: 36px;
    font-weight: 600;
    float: left;
}
#site_logo > a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px #222;
}
#site_logo > a:hover {
    text-shadow: 0 0 2px #000;
}
#site_logo.home {
    font-size: 100px;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}

#menu {
    position: absolute;
    right: 40px;
    top: 15px;
}

.menu-item {
    list-style: none;
    margin: 5px 10px;
    display: inline-block;
    font-weight: bolder;
    font-size: 18pt;
    padding: 1px;

    color: #fff;
    background-clip: text;
}
.menu-item a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px #000;
}
.menu-item a:hover {
    text-decoration: none;
    text-shadow: 0 0 2px #800;
}

#about {
    color: transparent;
    background: #000;
    background-clip: text;
    text-shadow: 0 0 3px #fff;
}
#about:hover {
    color: transparent;
    background: #000;
    background-clip: text;
    text-shadow: 0 0 3px #fcc;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 80%;
    margin: 0;
    margin-top: 30px;
    border-top: 1px dotted #aaa;
    padding: 20px 0;
    height: 20px;
    background: repeating-linear-gradient(-45deg, #f0f0f0 0px, #f0f0f0 5px, #e0e0e0 6px, #e0e0e0 11px, #f0f0f0 12px);
    /* background: repeating-linear-gradient(-45deg, #f7d707 0px, #f7d707 5px, #e7c707 6px, #e7c707 11px, #f7d707 12px); */
}

div.icons {
    display: inline-block;
    border: thin solid red;
}

div.icons ul {
    display: inline-block;
}

#copyright {
    margin: 0 auto;
}

#contents {
    width: 72ch;
    max-width: 72ch;
    margin: 0 auto;
    margin-bottom: 100px;
}

#tags {
    float: right;
    max-width: 25ch;
    text-align: center;
    display: none;
}
.tag {
    border-radius: 15px 15px;
    background-color: #999;
    color: #eee;
    text-align: center;
    display: inline-block;
    padding: 2px 10px;
    margin: 2px 0;
    font-size: 14px;
}

#section_header {
    font-size: 48px;
    height: 2.5ex;
    margin-top: 5px;
    padding-top: 1.5ex;
    max-width: 12em;
    width: 12em;
}

blockquote {
    background: #eee;
    color: #444;
    padding: 1px 10px;
    border-left: solid 5px #222;
}

blockquote b {
    background: #eee;
    color: #444;
    padding: 1px 10px;
}

.tag-list + ul > li {
    list-style: none;
    display: block;
    margin-right: 10px;
}
.tag-list + ul > li > a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

code.language-plaintext {
    font-size: 140%;
    font-weight: lighter;
}

div.image {
    margin: 1em auto;
    text-align: center;
    padding: 1em;
}

.teaching-svg {
    color: #333;
    stroke: #333;
    stroke-width: 2;
    fill: #fff;
    font-size: 150%;
    font-family: "Times New Roman", serif;
}

svg > text {
    stroke-width: 0;
    fill: #333;
}

.card {
    margin: 30px;
    width: 300px;
    padding: 30px;
    border: transparent thin solid;
    border-radius: 15px 15px;
    box-shadow: #333 0px 0px 10px;
    display: inline-block;
}

.card-title {
    font-size: 24pt;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.read-more {
    margin-top: 15px;
}

.read-more a {
    color: #eee;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    background-color: #38f;
    padding: 10px;
    border-radius: 10px 10px;
}


.icons > ul > li {
    list-style: none;
    display: inline-block;
    margin: 8px;
    font-size: 18pt;
}

.icons > ul > li > a {
    text-decoration: none;
    color: #333;
}

.icons > ul > li > a:hover {
    text-decoration: none;
}
