.social {
    font-size: 40px;
    margin: 0;
    text-align: center;
    display: inline;
}
.social ul {
    margin: 3px;
    display: inline;
}
.social ul li {
    display: inline;
    margin: 5px;
}
.social ul a, #social ul a:hover {
    text-decoration: none;
    color: #333;
}
