<div id="header">
<div id="site-logo"><a href="/">Cool Title Here</a></div>
<nav role="navigation" class="nav navigation">
    <input class="trigger input-toggler" type="checkbox" id="mainNavButton" />
    <label for="mainNavButton" class="menu-toggler">
                      <span class="menu-toggler__line"></span>
                      <span class="menu-toggler__line"></span>
                      <span class="menu-toggler__line"></span>
    </label>
    <ul>
      <li id="menu-home"><a href="/">{{ site.data.lang['Home'][page.lang] | default: "Início" }}</a></li>
      {% include menu.html  %}
      <li class="separator">&nbsp;</li>
      <li><a href="/about">{{ site.data.lang['Sobre'][page.lang] | default: 'Sobre' }}</a></li>
      <li><a id="search-link" href="/search">{{ site.data.lang['Procura'][page.lang] | default: 'Procura' }}</a></li>
      <li>
        <a id="menu-tags" href="/tags">
            <span id="tag-text">Tags</span>
            <span id="tag-icon" class="fa-solid fa-tags"></span>
        </a>
      </li>
    </ul>
</nav>
</div>
