{% assign lang_path = site.data.lang["_lang_prefix"][lang]  %}
<li><a href="/teaching">{{ site.data.lang['Ensino'][lang] | default: "Ensino" }}</a>
  <ul>
    <li><a href="/teaching/cs">Ciência da Computação</a>
      <ul>
        <li><a href="/teaching/cs/basics">Conceitos Básicos</a></li>
      </ul>
    </li>
    <li><a href="/teaching/institutions">{{ site.data.lang['Instituicoes'][lang] | default: "Instituições" }}</a>
      <ul>
        <li><a href="/teaching/lasalle">Universidade LaSalle</a>
      </ul>
    </li>
  </ul>
</li>
<li><a href="/projects">{{ site.data.lang['Projetos'][lang] | default: "Projetos" }}</a>
  <ul>
    <li><a href="/projects/freeipa/{{ lang_path }}">FreeIPA</a></li>
    <li><a href="/projects/logovm/{{ lang_path }}">LogoVM</a></li>
    <li><a href="/projects/t/{{ lang_path }}">&tau;</a></li>
    <!--
    <li><a href="/projects/fpi/{{ lang_path }}">f/π</a></li>
    -->
  </ul>
</li>
<li><a href="#">{{ site.data.lang['outros'][lang] | default: "Outros" }}</a>
  <ul>
    <li><a href="/linux">Linux</a></li>
    <li><a href="/raspberry">Raspberry-Pi</a></li>
  </ul>
</li>
