<li><a href="/teaching">Ensino</a>
    <ul>
    <li><a href="/teaching/lasalle">Universidade LaSalle</a>
      <ul>
          <li><a href="/teaching/lasalle/compilers">Compiladores</a></li>
          <li><a href="/teaching/lasalle/mobile">Desenvolvimento Móvel</a></li>
      </ul>
    </li>
    <li><a href="/teaching/senai">Faculdade Senai</a>
      <ul>
          <li><a href="/teaching/senai/soca">S.O. Código Aberto</a></li>
      </ul>
    </li>
    <li><a href="/teaching/algorithms">Algoritmos</a>
      <ul>
        <li><a href="/teaching/algorithms/basics">Conceitos Básicos</a></li>
      </ul>
    </li>
  </ul>
</li>
<li><a href="/projects">Projetos</a>
  <ul>
    <li><a href="/projects/freeipa">FreeIPA</a>
        <ul>
            <li><a href="/projects/freeipa/en/basic-lab-ad-trust">Setup AD-trust Test Lab</a></li>
            <li><a href="/projects/freeipa/en/cluster-deployment-ansible">Cluster deployment</a></li>
          </ul>
        </li>
  </ul>
</li>
<li><a href="/raspberry">Raspberry-Pi</a></li>
