
<div class="results-container"></div>
<script src="/js/search.js" type="text/javascript"></script>
<script type="text/javascript">

  var default_message = "{{ site.data.lang['nenhum_resultado_procura'][page.lang] | default: 'Nenhum resultado para a busca atual' }}"
  var items = [`<p>${default_message}</p>`]
  var search = getGetVariable("search");
  if (search != null && search != "") {
    document.title = document.title.replace("Search | ", "Search for \""+search+"\" | ");
    document.getElementById("search-input").value = htmlDecode(search);
    var regex = new RegExp(search, 'igm');
    $.getJSON( "search.json", function( data ) {
      for (var i = 0; i < data.length; i++) {
        if (regex.test(data[i].title) || regex.test(data[i].content) ||
            regex.test(data[i].tags) || regex.test(data[i].category)) {
	  items.push("<div class=\"search-item\">");
          if (data[i].section != "") {
            items.push(data[i].section + "> ");
          }
      	  items.push("<a href=\""+ data[i].url +"\">" + data[i].title + "</a>");
          items.push("<div class=\"search-excerpt\">" + getExcerpt(unescape(htmlDecode(data[i].content)), regex, 320) + "</div></div>");
        }
      }
      if (items.length < 1) {
        items.push(`<div class="search-item">${no_results}</div>`);
      }

      $( "<div/>", {
        "class": "search-results",
        html: items.join("")
      }).appendTo(".results-container");
    });
  } else {
    $( "<div/>", {
      "class": "search-results",
      html: items.join("")
    }).appendTo(".results-container");
  }
</script>
