<link rel="stylesheet" href="/css/site.css" />
<!-- <link rel="stylesheet" href="/assets/css/syntax.css" />
<link rel="stylesheet" href="/assets/css/social.css" />
<link rel="stylesheet" href="/assets/css/responsiveness.css" /> -->

<!-- Fonts -->
<script
    src="https://kit.fontawesome.com/f242fbc6b8.js"
    crossorigin="anonymous">
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet"> 
