$title-bg: linear-gradient(175deg, rgb(0,0,0), rgb(128,128,128));
$section-title-bg: linear-gradient(175deg, rgb(192,0,192), rgb(30,0,30));
$inverted-title-bg: linear-gradient(175deg, rgb(128,0,128), rgb(192,0,192));

$menu-font: 'Josefin Slab', serif;
$title-font: 'Yanone Kaffeesatz', sans-serif;
$code-font: 'Cutive Mono', monospace;

$link-color: #b000b0;

$normal-font-size: 24px;

@import "colors";

@mixin normal-font {
  font-family: 'Rokkitt', serif;
  font-size: $normal-font-size;
  font-weight: 300;

  @media (orientation: vertical) {
    font-size: 28px;
  }
  @media print {
    font-size: 12pt;
  }
}

html {
    @include normal-font;
}

@mixin title-font {
  font-family: $title-font;
  font-weight: 300;
}

@mixin logo-font {
  font-family: 'Josefin Slab', serif;
  letter-spacing: -5px;
}

@mixin logo-bg {
  background-image: $logo-title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

@mixin code-font {
  font-family: $code-font;
  font-size: 95%;
  font-weight: 600;
  letter-spacing: -0.5px;
  @media (orientation: vertical) {
    font-size: 110%;
  }
}

@font-face {
  font-family: "Josefin Slab";
  src: url('fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Rokkitt";
  src: url('fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Cutive Mono";
  src: url('fonts/Cutive_Mono/CutiveMono-Regular.ttf') format('truetype');
  font-display: swap;
}

p {
  @include normal-font;
  letter-spacing: 0.3px;
}

a {
  color: $link-color;
  text-decoration: none;
}

strong {
  font-weight: 600 !important;
}

h1, h2, h3, h4, h5, h6 {
  @include title-font;
  background-image: $title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  @media print {
     color: #000 !important;
  }
}

h1 {
  margin-bottom: 20px;
  font-size: 210%;
}

h1 > em {
  font-size: 125%;
}

h2 {
  font-size: 175%;
  margin: 1.25em 0 0.25em 0;
  a {
    font-size: 100%;
  };
}
h2 + h3 {
  margin: 1em 0 0.25em 0;
}

h3 {
  font-size: 150%;
  margin: 1.75em 0 0.25em 0;
}

h4 {
  font-size: 130%;
  margin: 1.5em 0 0.25em 0;
}

#section-title {
  &>h1 {
    background-image: $section-title-bg;
    font-weight: 600;
  }
  h1 {
    font-size: 250%;
  } 
} 

blockquote {
  font-size: 90%;
}

code {
  @include code-font;
  * {
    @include code-font;
  }
}

#copyright {
  // font-size: $small-font-size;
}

#site-logo{
    a {
      @include logo-font;
      font-weight: 200 !important;
      font-size: 72px;
      background-image: $logo-title-bg;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent !important;
      text-decoration: none;
      padding-right: 1ch;
    }
}

.huge {
  font-size: 48px !important;
}

/** CARDS **/

.card-title {
  a {
    @include title-font;
    font-size: 180%;
    font-weight: 600;
    @include logo-bg;
  }
}

.card-abstract {
  p {
    @include normal-font;
    letter-spacing: 0.1px;
  }
}

/* search */

#search-input {
  font-family: $menu-font;
  font-size: 18px;
  font-variant: small-caps;
}

#search-submit {
  font-size: 20px;
  > span {
    @include logo-bg;
  }
}

.search-item {
  @include title-font;
  font-size: 24px;
  .search-excerpt {
    @include normal-font;
    font-size: 80%;
    font-weight: 100;
    b {
      font-weight: 700;
    }
  }
}

/** MENU **/
$flex_nav_breakpoint: 1024px;
.nav ul {
  a:not(#menu-tag a) {
    font-family: $menu-font;
    font-size: 24px;
    font-weight: 600 !important;
  }
  li {
    ul {
      a:not(#menu-tag a) {
        font-size: 22px;
        font-weight: 600 !important;
      }
    }
  }
  font-size: 30px;
  letter-spacing: 0px;
  font-variant: small-caps;
  // font-variant-caps: all-petite-caps;
  font-weight: 300 !important;
}

/* Download button */
.download {
  float: right;
  font-size: 120%;
  margin-left: -2em;
  border-radius: 25px;
  padding: 8px;
  padding-top: 6px;
  border: 2px dotted rgb(192, 0, 192);
  background-color: #fff;
}

/* last update div */
.last-update {
  display: inline-block;
  font-size: 16px;
  text-align: right;
  color: #888;
  @media (orientation: vertical) {
    font-size: 18px;
  }
}
.last-update a {
  font-size: 16px;
  color: #444;
  @media (orientation: vertical) {
    font-size: 18px;
  }
}

/* language code */
.lang-code {
  display: inline-block;
  font-size: 14px;
  text-align: right;
  color: #858;
}

