$title-bg: linear-gradient(175deg, rgb(0,0,0), rgb(128,128,128));
$section-title-bg: linear-gradient(175deg, rgb(192,0,192), rgb(30,0,30));
$inverted-title-bg: linear-gradient(175deg, rgb(128,0,128), rgb(192,0,192));

$menu-font: 'Josefin Slab', serif;
$title-font: 'Yanone Kaffeesatz', sans-serif;
$code-font: 'Cutive Mono', monospace;

$link-color: #b000b0;


// $normal-font-size: calc((.4em + .15vmin) + (.4em + .15vmax));
// $small-font-size: calc((.4em + .10vmin) + (.4em + .10vmax));

// $h1-font-size: calc((.4em + 1.2vmin) + (.4em + 1.2vmax));
// $h2-font-size: calc((.4em + .8vmin) + (.4em + .8vmax));
// $h3-font-size: calc((.4em + .5vmin) + (.4em + .5vmax));
// $h4-font-size: calc((.4em + .35vmin) + (.4em + .35vmax));
// $h5-font-size: calc((.4em + .25vmin) + (.4em + .25vmax));
// $h6-font-size: calc((.4em + .20vmin) + (.4em + .20vmax));


@import "colors";

@mixin normal-font {
  // font-weight: 300;
  font-family: 'Rokkit', serif;
  // font-size: $normal-font-size;
}

@mixin title-font {
  font-family: $title-font;
  font-weight: 200;
}

@mixin logo-font {
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  letter-spacing: -5px;
}

@mixin logo-bg {
  background-image: $logo-title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

@mixin code-font {
  font-family: $code-font;
  font-size: 110%;
  letter-spacing: -0.5px;
  // font-size: $normal-font-size;
}

* {
  @include normal-font;
}

a {
  color: $link-color;
  text-decoration: none;
}

p {
  letter-spacing: 0.3px;
  font-size: 110%;
}

h1, h2, h3, h4, h5, h6 {
  @include title-font;
  background-image: $title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

h1 {
  margin-bottom: 20px;
  font-size: 250%;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 150%;
}

#section-title {
  h1 {
    background-image: $section-title-bg;
    font-weight: 600;
  }
  &+h1 {
    font-size: 300%;
  } 
} 

blockquote {
  font-size: 90%;
}

code {
  @include code-font;
  * {
    @include code-font;
  }
}

#copyright {
  // font-size: $small-font-size;
}

#site-logo{
    a {
      @include logo-font;
      font-weight: 800;
      font-size: 50px;
      background-image: $logo-title-bg;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent !important;
      text-decoration: none;
      padding-right: 1ch;
    }
}

/** CARDS **/

.card-title {
  a {
    @include title-font;
    font-size: 180%;
    font-weight: 600;
    @include logo-bg;
  }
}

.card-abstract {
  * {
    @include normal-font;
  }
}

/* search */

#search-input {
  font-family: $menu-font;
  font-size: 18px;
  font-variant: small-caps;
}

#search-submit {
  font-size: 20px;
  > span {
    @include logo-bg;
  }
}

.search-item {
  @include title-font;
  font-size: 24px;
  .search-excerpt {
    @include normal-font;
    font-size: 80%;
    font-weight: 100;
    b {
      font-weight: 700;
    }
  }
}

/** MENU **/
$flex_nav_breakpoint: 1024px;
.nav ul {
  a:not(#menu-tag a) {
    font-family: $menu-font;
    @media(min-width:$flex_nav_breakpoint) {
      font-size: 20px;    
    }
  }
  letter-spacing: 0.3px;
  font-size: 30px;
  letter-spacing: 0px;
  font-variant: small-caps;
  // font-variant-caps: all-petite-caps;
  font-weight: 300;
}

/* Download button */
.download {
  float: right;
  font-size: 120%;
  margin-left: -2em;
  border-radius: 25px;
  padding: 8px;
  padding-top: 6px;
  border: 2px dotted rgb(192, 0, 192);
}
