$title-bg: linear-gradient(175deg, rgb(0,0,0), rgb(128,128,128));
$section-title-bg: linear-gradient(175deg, rgb(192,0,192), rgb(30,0,30));
$inverted-title-bg: linear-gradient(175deg, rgb(128,0,128), rgb(192,0,192));

$menu-font: 'Josefin Slab', serif;

$title-font: 'Yanone Kaffeesatz', sans-serif;
$code-font: 'Cutive Mono', monospace;

$link-color: #b000b0;


$normal-font-size: calc((.4em + .25vmin) + (.4em + .25vmax));
$small-font-size: calc((.4em + .25vmin) + (.4em + .15vmax));

$h1-font-size: calc((.4em + 1.2vmin) + (.4em + 1.2vmax));
$h2-font-size: calc((.4em + .8vmin) + (.4em + .8vmax));
$h3-font-size: calc((.4em + .5vmin) + (.4em + .5vmax));
$h4-font-size: calc((.4em + .35vmin) + (.4em + .35vmax));
$h5-font-size: calc((.4em + .25vmin) + (.4em + .25vmax));
$h6-font-size: calc((.4em + .20vmin) + (.4em + .20vmax));


@import "colors";

@mixin normal-font {
  font-weight: 400;
  font-family: 'Montserrat', serif;
  font-size: $normal-font-size;
}

@mixin title-font {
  font-family: $title-font;
  font-weight: 200;
}

@mixin logo-font {
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  letter-spacing: -5px;
}

@mixin logo-bg {
  background-image: $logo-title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}


body {
  @include normal-font;
}

a {
  color: $link-color;
  text-decoration: none;
}

p {
  letter-spacing: 0.6px;
}

h1, h2, h3, h4, h5, h6 {
  @include title-font;
  background-image: $title-bg;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

h1 {
  margin-bottom: 40px;
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

#section-title {
  h1 {
    background-image: $section-title-bg;
    font-size: $h1-font-size;
    font-weight: 600;
  }
} 

blockquote {
  font-size: 90%;
}

code {
  font-size: $normal-font-size;
}

#copyright {
  font-size: $small-font-size;
}

#site-logo{
    @include logo-font;
    background-image: $logo-title-bg;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    text-decoration: none;
}

/** CARDS **/

.card-title {
  @include title-font;
  font-size: $h3-font-size;
  font-weight: 600;
  a {
    @include logo-bg;
  }
}

/* search */

#search-input {
  font-family: $menu-font;
  font-size: 18px;
  font-variant: small-caps;
  font-variant-caps: all-petite-caps;
}

#search-submit {
  font-size: 20px;

  > span {
    @include logo-bg;
  }
}

.search-item {
  @include title-font;
  font-size: 24px;
  font-weight: 100;
}

.search-item .search-excerpt {
  @include normal-font;
}

/** MENU **/
$flex_nav_breakpoint: 1024px;
.nav ul {
  @include logo-font;
  letter-spacing: 0.3px;
  font-size: 30px;
  letter-spacing: 0px;
  font-variant: small-caps;
  // font-variant-caps: all-petite-caps;
  font-weight: 300;
  @media(min-width:$flex_nav_breakpoint) {
    font-size: 20px;    
  }
}
