<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include common_head.html %}
        {% include styles.html %}
    </head>
    <body>
        <div id="con">
            <div id="header">
                {% include header.html lang = page.lang %}
            </div>
            <div id="cardboard">
                {% for item in page.cards %}
                <div class="card">
                    <div class="card-title"><a href="{{ item.link }}">{{ item.title | markdownify }}</a></div>
                    <div class="card-abstract">{{ item.content | markdownify }}</div>
                </div>
                {% endfor %}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
