<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>RafaelJeffman.com</title>
        <link rel="stylesheet" href="/css/site.css" />
        <script
            src="https://kit.fontawesome.com/f242fbc6b8.js"
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="con">
            <div id="header" class="home">
                <div id="site_logo" class="home"><a href="/">RafaelJeffman.com</a></div>
                <div id="biohazard">
                    &#x1f4bb; &#x1f4f7;
                </div>
            </div>
            <div class="cardboard">
                {% for item in page.cards %}
                <div class="card">
                    <div class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></div>
                    <div class="card-abstract">{{ item.content }}</div>
                </div>
                {% endfor %}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
