<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>RafaelJeffman.com</title>
        <link rel="stylesheet" href="/css/site.css" />
        <script
            src="https://kit.fontawesome.com/f242fbc6b8.js"
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="con">
            <div id="header" class="home">
                <div id="site_logo" class="home"><a href="/">RafaelJeffman.com</a></div>
                <div id="biohazard">
                    &#x1f4bb; &#x1f4f7;
                </div>
            </div>
            <div style="width: 80%; margin: 0 auto;">
            <div class="card">
                <div class="card-title">Some slightly long title.</div>
                <div class="card-abstract">
                    A expressão Lorem ipsum em design gráfico e
                    editoração é um texto padrão em latim utilizado
                    na produção gráfica para preencher os espaços
                    de texto em publicações para testar e ajustar
                    aspectos visuais antes de utilizar conteúdo real.
                    Também é utilizado em catálogos tipográficos,
                    para demonstrar textos e títulos escritos com as
                    fontes.
                </div>
                <div class="read-more"><a>Leia mais</a></div>
            </div>
            <div class="card">
                <div class="card-title">Some slightly long title.</div>
                <div class="card-abstract">
                    A expressão Lorem ipsum em design gráfico e
                    editoração é um texto padrão em latim utilizado
                    na produção gráfica para preencher os espaços
                    de texto em publicações para testar e ajustar
                    aspectos visuais antes de utilizar conteúdo real.
                    Também é utilizado em catálogos tipográficos,
                    para demonstrar textos e títulos escritos com as
                    fontes.
                </div>
                <div class="read-more"><a>Leia mais</a></div>
            </div>
            <div class="card">
                <div class="card-title">Some slightly long title.</div>
                <div class="card-abstract">
                    A expressão Lorem ipsum em design gráfico e
                    editoração é um texto padrão em latim utilizado
                    na produção gráfica para preencher os espaços
                    de texto em publicações para testar e ajustar
                    aspectos visuais antes de utilizar conteúdo real.
                    Também é utilizado em catálogos tipográficos,
                    para demonstrar textos e títulos escritos com as
                    fontes.
                </div>
                <div class="read-more"><a>Leia mais</a></div>
            </div>
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
