<!DOCTYPE html>
<html lang="{{ page.lang | default: 'pt' }}" dir="ltr">
    <head>
        {% include common_head.html page = page %}
        {% if page.title %}
        <meta property="twitter:title" content="{{ page.title }}">
        {% endif %}
        {% if page.description %}
        <meta property="twitter:description" content="{{ page.description }}">
        <meta name="description" content="{{ page.description }}">
        {% endif %}

        {% include styles.html %}
        {% for css in page.extra_styles %}
        <link rel="stylesheet" href="/css/{{ css }}.css">
        {% endfor %}
    
        <!-- MathJax configuration -->
        <script>
        MathJax = {
            loader: {
                load: ['[tex]/physics']
            },
            tex: {
                packages: {'[+]': ['physics']},
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            chtml: {
                fontCache: 'global'
            },
            svg: {
                fontCache: 'global'
            }
        };
        </script>
        <script
            src="https://polyfill.io/v3/polyfill.min.js?features=es6">
        </script>
        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <!-- /MathJax configuration -->
        <!-- Highlight.js configuration -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-light.min.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
            integrity="sha384-a4pIV46KBffvdjRuStQik2G6mPrTxdtAiZFQCdpsP4fyplWNoQ7fXlLMiIGcAP+M"
            crossorigin="anonymous"
            >
        </script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/go.min.js"></script> -->
        <!-- /Highlight.js configuration -->
        <script src="/js/read_more.js"></script>
    </head>
    <body>
        <div id="header">
            {% include header.html lang = page.lang %}
        </div>
        <div id="con">
            <div id="article-tags">
                {% for tag in page.tags %}
                   <div class="tag"><a href="/tags/{{ tag | downcase | replace: " ", "_" }}">{{ tag }}</a></div>
                {% endfor %}
            </div>
            <div id="section-title">
                {% if page.section %}
                {{ page.section | prepend: "# " | markdownify }}
                {% endif %}
                <div id="page-title">
                    {% if page.title %}
                    {{ page.title | prepend: '# ' | markdownify }}
                    {% endif %}
                    {% if page.subtitle %}
                    {{ page.subtitle | prepend: '## ' | markdownify }}
                    {% endif %}
                    <div id="page-tags">
                      <ul>
                      {% assign empty_list = "" | split: "" %}
                      {% assign sorted_tags = page.tags | default: empty_list | sort_natural | uniq %}
                      {% for tag in sorted_tags %}
                          <li>{{ tag }}</li>
                      {% endfor %}
                      <ul>
                    </div>
                    {% assign occurrence = page.last_occurrence | default: site.data.lang["Nao_ocorreu"][page.lang] | default: "Não ocorreu" %}
                    <div class="last-update">
                        {{ site.data.lang["Ultima_ocorrencia"][page.lang] | default: "Última ocorrência" }}: {{ occurrence }}{% if page.last_occurrence %} em <a href="{{ page.institution.link }}">{{ page.institution.name }}</a> {% endif %}
                    </div>
                </div>
            </div>
        <div id="contents">
                {% assign empty_array = "" | split: "," %}
                {% assign session_array = page.section | lower | split: "," %}
                {% assign page_related = page.related | default: empty_array %}
                {% assign related = page.tags | concat: page_related | concat: session_array %}
                {% assign sections = related | join: "," | downcase | split: "," | uniq %}
                <div id="posts-relacionados">
                <h2>{{ site.data.lang["Posts_Relacionados"][page.lang] | default: "Posts Relacionados" }}</h2>
                <ul>
                {% for post in site.pages %}{% assign related_items = post.tags | uniq %}{% if post.title and post.title != page.title and post.layout == "main" %}{% assign lower_section = post.section | downcase %}{% if sections contains lower_section %}<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span class="last-update">{{ post.last_update }}</span></li>
                {% else %}{% for tag in related_items %}{% if sections contains tag %}<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><span class="last-update">{{ post.last_update }}</span></li>
                {% break %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}
                </ul>
                </div>
                <script language="javascript">
                var divul = document.querySelector('#posts-relacionados > ul');
                if (divul.children.length == 0) {
                    document.querySelector('#posts-relacionados').style.display = 'none';
                }
                </script>

                {{ content }}
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
<!-- After loading page text, highlight code blocks. -->
        <script>hljs.highlightAll();</script>
    </body>
</html>
