<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}pt{% endif %}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% if page.section %}{{ page.section }}: {% endif %}{{ page.title }}</title>
        {% if page.title %}
        <meta property="twitter:title" content="{{ page.title }}">
        {% endif %}
        {% if page.description %}
        <meta property="twitter:description" content="{{ page.title }}">
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/social.css" />
        <script
            src="https://kit.fontawesome.com/f242fbc6b8.js"
            crossorigin="anonymous">
        </script>

        <!-- MathJax configuration -->
        <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
        </script>
        <script
            src="https://polyfill.io/v3/polyfill.min.js?features=es6">
        </script>
        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <!-- /MathJax configuration -->
        <!-- Highlight.js configuration -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-light.min.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
            integrity="sha384-a4pIV46KBffvdjRuStQik2G6mPrTxdtAiZFQCdpsP4fyplWNoQ7fXlLMiIGcAP+M"
            crossorigin="anonymous"
            >
        </script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/go.min.js"></script> -->
        <!-- /Highlight.js configuration -->
    </head>
    <body>
        <div id="con">
            <div id="header">
                {% include header.html %}
            </div>
            <div id="contents">
                <div id="tags">
                    {% for tag in page.tags %}
                       <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
                {% if page.section %}
                    <h1 id="section_header">{{ page.section }}</h1>
                {% endif %}
                {{ page.title | prepend: '# ' | markdownify }}
                {% if page.date %}
                <div id="last-update">
                    {% if page.lang == 'en' %}
                    Last update:  {{ page.date }}
                    {% else if page.lang == 'fr' %}
                    {% else %}
                    Última atualização: {{ page.date }}
                    {% endif %}
                </div>
                {% endif %}
                {{ content }}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
        <!-- After loading page text, highlight code blocks. -->
        <script>hljs.highlightAll();</script>
    </body>
</html>
