<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}pt{% endif %}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% if page.section %}{{ page.section }}: {% endif %}{{ page.title }}</title>
        {% if page.title %}
        <meta property="twitter:title" content="{{ page.title }}">
        {% endif %}
        {% if page.description %}
        <meta property="twitter:description" content="{{ page.title }}">
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <!-- MathJax configuration -->
        <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
        </script>
        <script
            src="https://polyfill.io/v3/polyfill.min.js?features=es6">
        </script>
        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <!-- /MathJax configuration -->
    </head>
    <body>
        <div id="con">
            <div id="header">
                {% include header.html %}
            </div>
            <div id="contents">
                <div id="tags">
                    {% for tag in page.tags %}
                       <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
                {% if page.section %}
                    <h1 id="section_header">{{ page.section }}</h1>
                {% endif %}
                {{ page.title | prepend: '# ' | markdownify }}
                {{ content }}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
