<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/responsiveness.css" />
    </head>
    <body>
        <div id="con">
            <div id="header">
                {% include header.html lang = page.lang %}
            </div>
            <div id="contents">
                <!-- h1 class="section-title"  -->
                {% if page.title %}
                <div class="section-title">{{ page.title | prepend: "# " | markdownify }}</div>
                {% endif %}
                <div class="cardboard">
                    {% for item in page.cards %}
                    <div class="card">
                        <div class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></div>
                        <div class="card-abstract">{{ item.content | markdownify }}</div>
                    </div>
                    {% endfor %}
                </div>
                {{ content }}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
