<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include common_head.html page = page %}
        {% include styles.html %}
    </head>
    <body>
        -{{ page.lang }}-
        {% include header.html lang=page.lang %}
        <div id="con">
            <!-- h1 class="section-title"  -->
            {% if page.title and page.title != "/none" %}
            <div id="section-title">{{ page.title | prepend: "# " | markdownify }}</div>
            {% endif %}
            <div id="cardboard">
                {% for item in page.cards %}
                <div class="card">
                    <div class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></div>
                    <div class="card-abstract">{{ item.content | markdownify }}</div>
                </div>
                {% endfor %}
            </div>
            <div id="contents">
                {{ content }}
            </div>
            <div id="footer">
                {% include footer.html %}
            </div>
       </div>
       <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    </body>
</html>
