<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include common_head.html page = page %}
        {% include styles.html %}
    </head>
    <body>
        {% include header.html lang=page.lang %}
        <div id="con">
            <!-- h1 class="section-title"  -->
            {% if page.title and page.title != "/none" %}
            <div id="section-title">{{ page.title | prepend: "# " | markdownify }}
            {% if page.subtitle %}
            <div id="section-subtitle">{{ page.subtitle | prepend: "## " | markdownify }}</div>
            {% endif %}
            </div>
            {% endif %}
            <div id="cardboard">
                {% for item in page.cards %}
                <div class="card">
                    <div class="card-title"><a href="{{ item.link }}">{{ item.title }}</a></div>
                    <div class="card-abstract">{{ item.content | markdownify }}</div>
                </div>
                {% endfor %}
            </div>
            <div id="contents">
                {{ content }}
                {% assign page_list = site.pages | where_exp: "item", "item.title != nil" | where_exp: "item", "item.date != nil" | where_exp: "item", "item.layout != 'section'" | sort: "date" | reverse  %}
                {% if page.sections %}
                    {% assign filtered_list = page_list | where_exp: "item", "page.sections contains item.section" %}
                {% else %}
                    {% assign filtered_list = page_list%}
                {% endif %}
                {% if filtered_list.size != 0 %}
                {% if page.cards == nil %}
                <h1>{{ site.data.lang['Posts_Relacionados'][page.lang] | default: "Posts Relacionados" }}</h1>
                {% else %}
                <h1>{{ site.data.lang['Posts_Recentes'][page.lang] | default: "Posts Recentes" }}</h1>
                {% endif %}
                <div id="by-posts">
                    <ul>
                        {% for linkto in filtered_list %}
                            <li>
                                <a href="{{ linkto.url }}">{{ linkto.title | strip | markdownify | remove: '<p>' | remove: '</p>' }}</a> <div id="last-update">{{ linkto.date }}</div> {% if linkto.lang %}<div id="lang-code">({{ linkto.lang }})</div>{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
       </div>
       <div id="footer">
        {% include footer.html %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    </body>
</html>
